.Table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: .75em;
}


.Cell {
    border: 1px solid;
    box-sizing: border-box;
    text-align: center;
    padding: 0.5em;
    text-align: right;
    min-width: auto;
    white-space: nowrap;
}

.Header {
    font-weight: bold;
    text-align: center;
}

.Inactive {
    background-color: darkgray;
}