body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #282c34;
  min-height: 100dvh;
  min-width: 100dvw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 25%);
}

.App-content {
  width: 100%;

}

@media (max-aspect-ratio: 3/4) {
  .App-content div{
    min-width: 10px;;
  }
}
@media (min-aspect-ratio: 4/3) {
  .App-content {
    display: grid;
    grid-template-columns: minmax(150px, 20%) 1fr;
  }
}